In [1]:
import pandas as pd

In [30]:
folder = "0_DB/"
file_name = "MYA Tour Database"
df = pd.read_excel(f"{folder}{file_name}.xlsx",sheet_name="Main Price Table")

In [32]:
df.columns

Index(['Country', 'Region/City', 'Tour Name', 'Default Time of Start',
       'Number of days', 'EXCLUDED DATES', 'NOTES', 'PL TL YES/NO', '2 pax',
       '3 pax', '4 pax', '5 pax', '6 pax', '7 pax', '8 pax', '9pax', '10pax',
       '12 pax', '14pax'],
      dtype='object')

In [35]:
# Clean data
# df = df.dropna(subset=["Partner ID","Partner Type","Partner Name"])
df = pd.melt(df, id_vars=['Country', 'Region/City', 'Tour Name', 'Default Time of Start',
       'Number of days', 'EXCLUDED DATES', 'NOTES', 'PL TL YES/NO'], value_vars=['2 pax',
       '3 pax', '4 pax', '5 pax', '6 pax', '7 pax', '8 pax', '9pax', '10pax',
       '12 pax', '14pax'], var_name = "num_pax", value_name = "price")

In [37]:
df['num_pax'] = df['num_pax'].str.extract("(\d+)")

In [39]:
df['num_pax'] = df['num_pax'].astype("int")

In [42]:
df[df['Tour Name']=="21 days Through Indochina - Standard"]

,Country,Region/City,Tour Name,Default Time of Start,Number of days,EXCLUDED DATES,NOTES,PL TL YES/NO,num_pax,price
126,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,2,4119.997449
127,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,2,6997.255102
258,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,3,NaN
259,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,3,NaN
390,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,4,3373.844388
391,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,4,4772.160714
522,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,5,NaN
523,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,5,NaN
654,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,6,3067.863946
655,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,6,3987.783163
786,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,7,NaN
787,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,7,NaN
918,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,8,2894.084184
919,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,8,3700.353316
1050,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,9,NaN
1051,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,9,NaN
1182,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,10,NaN
1183,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,10,NaN
1314,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,12,NaN
1315,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,12,NaN
1446,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,NO,14,NaN
1447,Cambodia + Laos + Vietnam,Long tour,21 days Through Indochina - Standard,NaN,21,01-03/01/2025\n27/01- 08/02/2025\n29/04-02/05/...,NaN,YES,14,NaN

In [43]:
df.to_csv(f"{folder}{file_name}.csv",index=False)

In [45]:
import pandas as pd
import sqlite3
import os

# --- CONFIG ---
DB_FILE = "MYAdb.db"
CSV_FOLDER = "0_DB"  # folder where your CSVs are stored

# Connect to SQLite
conn = sqlite3.connect(DB_FILE)

# Loop through all CSV files in the folder
for file in os.listdir(CSV_FOLDER):
    if file.endswith(".csv"):
        csv_path = os.path.join(CSV_FOLDER, file)
        
        # Load CSV into DataFrame
        df = pd.read_csv(csv_path)
        
        # Table name is file name without .csv
        table_name = os.path.splitext(file)[0]
        
        # Import into SQLite (replace table if exists)
        df.to_sql(table_name, conn, if_exists="replace", index=False)
        
        print(f"Imported {file} → table '{table_name}'")

conn.close()
print("✅ All CSVs imported successfully.")

Imported Service Database.csv → table 'Service Database'
Imported MYA Tour Database.csv → table 'MYA Tour Database'
Imported Main Travel Database.csv → table 'Main Travel Database'
Imported Feedback Database.csv → table 'Feedback Database'
✅ All CSVs imported successfully.

In [48]:
import socket

def get_lan_ip():
    s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
    try:
        # This doesn't actually send data
        s.connect(("8.8.8.8", 80))
        ip = s.getsockname()[0]
    finally:
        s.close()
    return ip

print(get_lan_ip())

172.16.0.2

In [47]:
import socket
st.write("LAN IP:", socket.gethostbyname(socket.gethostname()))

NameError: name 'st' is not defined