In [17]:
import pandas as pd
import numpy as np

In [8]:
folder = "0_DB/"

# Format Main tour DB

In [76]:
# Read Main tour DB
file_name = "Main Travel Database"
df = pd.read_excel(f"{folder}{file_name}.xlsx",sheet_name=0)

In [77]:
#Remove all null on all row
df = df.dropna(how = "all", axis = 1)

In [78]:
# Format status
status_correct = {
    "suspended": "Suspended",
}

df['Status'] = df['Status'].map(lambda x: status_correct[x] if x in status_correct else x)

In [79]:
# Status should be in those 4 only: Banned, Approved, Suspended, No Status (None), move others to new column name "Note"
status_list = ['Banned', 'Approved', 'Suspended', np.nan]
df['Note'] = df['Status'].map(lambda x: x if x not in status_list else np.nan)

In [80]:
# Now remove unwanted infor in Status and keep only ['Banned', 'Approved', 'Suspended', np.nan]
df['Status'] = df['Status'].map(lambda x: x if x in status_list else np.nan)

In [85]:
# Correct country name
df['Location'] = df['Location'].str.strip()

In [87]:
df['Location'] = df['Location'].str.replace("Hanoi","Ha Noi")

In [88]:
df['Location'].unique()

array(['Ho Chi Minh City', 'Ha Noi', 'Hue', 'Sapa', 'Hoi An', 'Ha Long',
       'Ninh Binh', nan, 'Siem Reap', 'Chau Doc', 'Kuala Lumpur',
       'Mui Ne', 'Malacca', 'Ben Tre', 'Kuching', 'Luang Prabang', 'Bali',
       'Kota Kinabalu', 'Can Tho', 'Cat Tien', 'Vientiane', 'Quang Binh',
       'Da Nang', 'Vang Vieng', 'Long Xuyen', 'Cat Ba', 'Cu Chi',
       'Da Lat', 'Phu Quoc', 'Pahang', 'Koh Russey - Sihanoukville',
       'Java', 'Quang Ninh', 'Mai Chau', 'Bali - Ubud', 'Tien Giang',
       'Vinh Long', 'Singapore', 'Nha Trang', 'Sarawak', 'Out of country',
       'Nong Klau', 'Bangkok', 'Vam Xang', 'Ta Phin', 'Thanh Hoa',
       'Kandy', 'Manila', 'Sentosa', 'Penang', 'Cam Ranh',
       'Dong Nai - Cat Tien', 'Boracay', 'Phu Yen', 'An Giang'],
      dtype=object)

In [89]:
# Save back
df.to_csv(f"{folder}{file_name}.csv",index = False)

# Format Feedback DB

In [64]:
# Read Feedback DB
file_name = "Feedback Database"
df = pd.read_excel(f"{folder}{file_name}.xlsx",sheet_name=0)

In [32]:
df.head(2)

,Partner ID,Partner Type,Partner Name,Date,Group Number,Feedback Type,Feedback Message,What was done?
0,PRT-25,PRT_Partner_DMC,Venus Travel,2023-01-01,L1381,Bad,"Bus Samco is pretty old, problem to open the door",Ánh noted that for our booking 29s should be T...
1,PRT-25,PRT_Partner_DMC,Venus Travel,2025-04-19,W225,Bad,In Danang we get a pretty old 32seat Samco for...,NaN

In [33]:
#Remove all null on all row
df = df.dropna(how = "all", axis = 1)

In [65]:
# Save back
df.to_csv(f"{folder}{file_name}.csv",index = False)

# Format Service DB

In [66]:
# Read Service DB
file_name = "Service Database"
df = pd.read_excel(f"{folder}{file_name}.xlsx",sheet_name=0)

In [39]:
#Remove all null on all row
df = df.dropna(how = "all", axis = 1)

In [67]:
# Save back
df.to_csv(f"{folder}{file_name}.csv",index = False)

# Format tour DB

In [68]:
# Read tour DB
file_name = "MYA Tour Database"
df = pd.read_excel(f"{folder}{file_name}.xlsx",sheet_name=0)

In [69]:
df.head()

,Country,Region/City,Tour Name,Default Time of Start,Number of days,EXCLUDED DATES,NOTES,PL TL YES/NO,num_pax,price
0,Thailand,Bangkok,Bangkok by Day,NaN,1,NaN,NaN,NO,2,192.500000
1,Thailand,Bangkok,Bangkok Nocą,NaN,1,NaN,NaN,NO,2,165.000000
2,Vietnam,Hoi An,Cooking Class Red Bridge haftday package,0.604167,1,No,NaN,NO,2,104.424490
3,Vietnam,HCMC,Cu Chi by boat,07:30AM,1,27/01- 02/02/2025\n30/04-01/05/2025\n02/09/2025,NaN,NO,2,248.540816
4,Vietnam,HCMC,Cu Chi by boat,07:30AM,1,27/01- 02/02/2025\n30/04-01/05/2025\n02/09/2025,NaN,YES,2,330.122449

In [46]:
# Clean data
# df = df.dropna(subset=["Partner ID","Partner Type","Partner Name"])
df = pd.melt(df, id_vars=['Country', 'Region/City', 'Tour Name', 'Default Time of Start',
       'Number of days', 'EXCLUDED DATES', 'NOTES', 'PL TL YES/NO'], value_vars=['2 pax',
       '3 pax', '4 pax', '5 pax', '6 pax', '7 pax', '8 pax', '9pax', '10pax',
       '12 pax', '14pax'], var_name = "num_pax", value_name = "price")

In [47]:
df['num_pax'] = df['num_pax'].str.extract("(\d+)")

In [48]:
df['num_pax'] = df['num_pax'].astype("int")

In [70]:
df.to_csv(f"{folder}{file_name}.csv",index=False)

In [90]:
import pandas as pd
import sqlite3
import os

# --- CONFIG ---
DB_FILE = "MYAdb.db"
CSV_FOLDER = "0_DB"  # folder where your CSVs are stored

# Connect to SQLite
conn = sqlite3.connect(DB_FILE)

# Loop through all CSV files in the folder
for file in os.listdir(CSV_FOLDER):
    if file.endswith(".csv"):
        csv_path = os.path.join(CSV_FOLDER, file)
        
        # Load CSV into DataFrame
        df = pd.read_csv(csv_path)
        
        # Table name is file name without .csv
        table_name = os.path.splitext(file)[0]
        
        # Import into SQLite (replace table if exists)
        df.to_sql(table_name, conn, if_exists="replace", index=False)
        
        print(f"Imported {file} → table '{table_name}'")

conn.close()
print("✅ All CSVs imported successfully.")

Imported Service Database.csv → table 'Service Database'
Imported MYA Tour Database.csv → table 'MYA Tour Database'
Imported Main Travel Database.csv → table 'Main Travel Database'
Imported Feedback Database.csv → table 'Feedback Database'
✅ All CSVs imported successfully.

In [74]:
# erase db if needed
DB_FILE = "MYAdb.db"

conn = sqlite3.connect(DB_FILE)
cursor = conn.cursor()

# Get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Drop each table except "User"
for table in tables:
    table_name = table[0]
    if table_name == "User":  # skip this table
        print(f"Skipped table: {table_name}")
        continue
    cursor.execute(f'DROP TABLE IF EXISTS "{table_name}"')
    print(f"Dropped table: {table_name}")

conn.commit()
conn.close()
print("✅ All tables dropped (except 'User').")

Dropped table: Service Database_Sheet1
Dropped table: MYA Travel Viewer_Search Sheet
Dropped table: MYA Travel Viewer_Service Dashboard
Dropped table: MYA Travel Viewer_Tours Dashboard
Dropped table: MYA Travel Viewer_Upload Feedback
Dropped table: MYA Travel Viewer_Upload Catalogue
Dropped table: MYA Travel Viewer_Upload Pricing
Dropped table: MYA Travel Viewer_Help Sheet
Dropped table: MYA Travel Viewer_Upload_Main
Dropped table: Feedback Database_Sheet1
Dropped table: MYA Tour Database_Sheet1
Dropped table: Main Travel Database_Sheet1
Dropped table: MYA Travel Viewer
Dropped table: Service Database
Dropped table: MYA Tour Database
Dropped table: Main Travel Database
Dropped table: Feedback Database
✅ All tables dropped. Database is empty.

In [48]:
import socket

def get_lan_ip():
    s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
    try:
        # This doesn't actually send data
        s.connect(("8.8.8.8", 80))
        ip = s.getsockname()[0]
    finally:
        s.close()
    return ip

print(get_lan_ip())

172.16.0.2

In [47]:
import socket
st.write("LAN IP:", socket.gethostbyname(socket.gethostname()))

NameError: name 'st' is not defined